WARDROBE_AI_DEBUG=true
WARDROBE_AI_VIAPI_ACCESS_KEY_ID=
WARDROBE_AI_VIAPI_ACCESS_KEY_SECRET=
WARDROBE_AI_VIAPI_ENDPOINT=imageseg.cn-shanghai.aliyuncs.com
WARDROBE_AI_DOUBAO_API_KEY=
WARDROBE_AI_DOUBAO_MODEL=doubao-vision-lite
WARDROBE_AI_OSS_ENDPOINT=http://localhost:9000
WARDROBE_AI_OSS_ACCESS_KEY=wardrobe
WARDROBE_AI_OSS_SECRET_KEY=wardrobe_dev
WARDROBE_AI_OSS_BUCKET=wardrobe-garments
WARDROBE_AI_SCHP_WEIGHTS=models/schp_atr.pth
WARDROBE_AI_SEGFORMER_MODEL=mattmdjaga/segformer_b2_clothes
